<% content_for :breadcrumb do %>
  <li><%= link_to "權限群組", dashboard_admin_groups_path %></li>
  <li><%= link_to @group.name, dashboard_admin_group_path(@group) %></li>
  <li class="active">修改權限</li>
<% end %>

<%= render 'form', :group_forum => @group_forum, :forums => @forums, :group => @group %>
