<% content_for :breadcrumb do %>
  <li><%= link_to "討論區", dashboard_admin_forums_path %></li>
  <li><%= link_to @forum.title, dashboard_admin_forum_path(@forum) %></li>
  <li class="active" >新增</li>
<% end %>

<%= render 'form', forum: @forum, post: @post %>
