<% content_for :breadcrumb do %>
  <li><%= link_to "討論分區", dashboard_admin_forum_kinds_path %></li>
  <li><%=  @forum.forum_kind_title %></li>
  <li class="active">修改子板 | <%= @forum.title %></li>
<% end %>

<%= render 'form', forum: @forum %>
