<% content_for :breadcrumb do %>
  <li><%= link_to "討論分區", dashboard_admin_forum_kinds_path %></li>
  <li class="active">修改 | <%= @forum_kind.title %></li>
<% end %>

<%= render 'form', forum_kind: @forum_kind %>
