<% content_for :breadcrumb do %>
  <li><%= link_to "文章分類", dashboard_admin_art_kinds_path %></li>
  <li class="active">修改文章分類 | <%= @art_kind.name %></li>
<% end %>

<%= render 'form', art_kind: @art_kind %>
