<% content_for :breadcrumb do %>
  <li class="active">文章分類</li>
<% end %>
<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_admin_art_kind_path, class: 'btn btn-success' if current_user %>
</div>
<div class="col-xs-12 list">
  <% @art_kinds.each do |art| %>
    <%= art.name %>
    <%= link_to "修改", edit_dashboard_admin_art_kind_path(art), class: "btn btn-xs btn-success" %>
    <%= link_to "刪除", dashboard_admin_art_kind_path(art), method: :delete, data: { confirm: '確定要刪除嗎?' }, class: "btn btn-xs btn-danger" %><br/>
  <% end %>
</div>
