<% content_for :breadcrumb do %>
  <li><%= link_to "露營地", dashboard_campings_path %></li>
  <li class="active">修改地點 | <%= @camping.name %></li>
<% end %>

<%= render 'form' %>

<%= link_to '返回', dashboard_campings_path %>
