<% content_for :breadcrumb do %>
  <li><%= link_to "露營地", dashboard_campings_path %></li>
  <li class="active">新增地點</li>
<% end %>

<div class="col-md-12 list">
  <%= render 'form', camping: @camping %>
</div>

<%= link_to '返回', dashboard_campings_path, class: "btn btn-xs btn-success" %>
