<% content_for :breadcrumb do %>
  <li><%= link_to "活動行事曆", dashboard_schedules_path %></li>
  <li class="active">修改 | <%= @schedule.title %></li>
<% end %>

<%= render 'form', schedule: @schedule %>
