<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">文章分類</li>
</ol>

<div class="list">
  <% @art_types.each do |art| %>
    <%= art.name %> <br/>
  <% end %>
</div>

<%= link_to "新增", new_art_type_path, class: "btn btn-success" %>
