<% content_for :breadcrumb do %>
  <li ><%= link_to "活動類型", dashboard_admin_doing_kinds_url %></li>
  <li class="active">修改 | <%= @doing_kind.title %></li>
<% end %>

<%= render 'form', doing_kind: @doing_kind %>
