<% content_for :breadcrumb do %>
  <li><%= link_to "文章總覽", dashboard_admin_articles_path %></li>
  <li class="active">修改文章 | <%= @article.title %></li>
<% end %>

<%= render 'form', article: @article %>
