  <div id="training" class="col-md-6">
    近期授課
  </div>
  <div id="schedules" class="col-md-6">
    近期活動
  </div>
  <div id="forums" class="col-md-6">
    討論區最新主題
  </div>
  <div id="books" class="col-md-6">
    近期文章
  </div>
  <div id="photos" class="col-md-6">
    最新相片
  </div>
  <div id="movies" class="col-md-6">
    近期影片
  </div>
