<% content_for :breadcrumb do %>
  <li class="active">相簿</li>
<% end %>

<div class="col-xs-12 list">
  <% @albums.each do |m|%>
    <% a =  m.public_at || Time.now %>
    <% if a < Time.now %>
      <div class="photos">
        <%= link_to album_path(m) do %>
          <%= image_tag(m.photos.first.file.medium) %><br/>
          <%= m.title %>
        <% end%>
      </div>
    <% end %>
  <% end %>
</div>
