<% content_for :breadcrumb do %>
  <li class="active">相簿</li>
<% end %>

<div class="col-xs-12 list">
  <% @albums.each do |m|%>
    <%= link_to m.title, album_path(m) %>
    <%= m.description %>
    <%= m.view_count %>
  <% end %>
</div>
