<% content_for :breadcrumb do %>
  <li class="active">團康音樂</li>
<% end %>

<% @musics.each do |m|%>
  <%= link_to m.title, dashboard_music_path(m.id) %>
  <%= File.basename(m.file.path) %>
  <%= m.user.name %>
<% end %>
