<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">職務職掌</li>
</ol>
<div class="list">
  <% @titles.each do |t| %>
    <%= t.title %>
    <%= t.description %>
    <%= t.level %><br/>
  <% end %>
</div>
