/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-markdown
 *= require bootstrap-datetimepicker
 *= require jquery.fileupload-ui
 *= require iconmoon
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap";
@import "semantic-ui";
@import 'base';

body{
  position: relative;
  background-attachment: fixed;
  background-color: #000;
}

.alert {
  position : relative;
  top      : 1px;
  @include gap(bottom, 2px);
}

.page-header{ margin: 20px 0 10px; }

.navbar { @include gap(bottom, 0px); }

#user-dropdown{ padding: 4px 0px 4px 0px; }

.panel-body { padding: 5px 5px 5px 5px;}

.right { float:right; }

.center {	text-align:center; }

.block { display: block;}

.font-set{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.new { margin: 0px 0px 10px 0px; }

.sidebar { padding: 3px 0px 0px 5px; }

.list{
  background-color: rgba(255,255,255,0.85);
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
  min-height: 222px;
}
.padding {
  padding: 5px;
}

footer {
  border-top  : 1px solid #cccccc;
  color       : #dddddd;
  padding-top : 20px;
  @include gap(top, 30px);
  @include gap(bottom, 20px);
  .icon-html5{ color : #f89c78; }
  .icon-css3{ color : #6aa5f2; }
}

div .table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.btn-sm {
  padding-top    : 2px;
  padding-bottom : 2px;
  @include gap;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.svg#icomoon') format('svg'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
