/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require bootstrap-markdown
 *= require iconmoon
 *= require_tree .
 *= require_self
 */
@import 'base';

body{
  position: relative;
  background-color: #9f9f9f;
}

.page-header{ margin: 20px 0 10px; }

.alert {
  position : relative;
  top      : 1px;
  @include gap(bottom, 2px);
}

tbody { border: 1px solid #dddddd; }

.btn-sm {
padding-top    : 2px;
padding-bottom : 2px;
@include gap;
}

.navbar {
  @include gap(bottom, 0px);
  }

.panel-body { padding: 5px 5px 5px 5px;}

.right {
	float:right;
}
.center {
	text-align:center;
}

footer {
	border-top  : 1px solid #cccccc;
	color       : #dddddd;
	padding-top : 20px;
	@include gap(top, 30px);
	@include gap(bottom, 20px);
	.icon-html5{ color : #ffbda0; }
  .icon-css3{ color : #a1c5ff; }
}

.font-set{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#user-dropdown{
  padding-top    : 4px;
  padding-bottom : 4px;
}
