// Place all the styles related to the forum_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forum-list{
  background-color: #fbfbfb;
  border-radius: 4px;
  margin-top: 5px;
}
