// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$welcome-hight: 225px;

div h4{
  margin-left:  12px !important;
  margin-top: 8px !important;
}

.more{
  margin-top: 8px;
}

.atitle{
  margin: 8px 8px 18px 8px;
}

#training{
  border-left: 5px solid #8AC007;
  border-right: 5px solid #8AC007;
  min-height: $welcome-hight;
}
#schedules{
  border-left: 5px solid #47c106;
  border-right: 5px solid #47c106;
  min-height: $welcome-hight;
}
#forums{
  border-left: 5px solid #06c1b2;
  border-right: 5px solid #06c1b2;
  min-height: $welcome-hight;
}
#books{
  border-left: 5px solid #0676c1;
  border-right: 5px solid #0676c1;
  min-height: $welcome-hight;
}
#photos{
  border-left: 5px solid #5406c1;
  border-right: 5px solid #5406c1;
  min-height: $welcome-hight;
}
#movies{
  border-left: 5px solid #bb06c1;
  border-right: 5px solid #bb06c1;
  min-height: $welcome-hight;
}
