// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
  background-color: #fbfbfb ;
  background-color: rgba(255,255,255,0.85);
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
  min-height: 222px;
}

#training{
  border-left: 5px solid #8AC007;
  border-right: 5px solid #8AC007;
}
#schedules{
  border-left: 5px solid #47c106;
  border-right: 5px solid #47c106;
}
#forums{
  border-left: 5px solid #06c1b2;
  border-right: 5px solid #06c1b2;
}
#books{
  border-left: 5px solid #0676c1;
  border-right: 5px solid #0676c1;
}
#photos{
  border-left: 5px solid #5406c1;
  border-right: 5px solid #5406c1;
}
#movies{
  border-left: 5px solid #bb06c1;
  border-right: 5px solid #bb06c1;
}
