<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">團康音樂</li>
</ol>

<% @musics.each do |m|%>
  <%= link_to m.title, music_path(m.id) %>
  <%= m.file %>
  <%= m.user.name %>
<% end %>
