<% content_for :breadcrumb do %>
  <li class="active">團康音樂</li>
<% end %>

<div class="col-xs-12 list">
  <% @musics.each do |m|%>
    <%= link_to m.title, music_path(m.id) %>
    <%= File.basename(m.file.path) %>
    <%= m.user.name %>
  <% end %>
</div>
