<footer>
	<div class='row'>
	<div class='col-md-12'>
		<div class='center'>黑衫軍童軍團</div>
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ftw-scout.club%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=783433038356770" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
		<a href="#" class='right btn btn-default'><span class="icon-arrow-up"></span> 回頁首</a>
		<p class='center'>本網站由 Archer 建立於2014.8,版權所有.  Power By RoR
			<span class="icon-html5"></span><span class="icon-css3"></span></p>
	</div></div>
</footer>
