<footer>
	<div class='row'>
	<div class='col-md-12'>
		<div class='center'>黑衫軍童軍團</div>
		<a href="#" class='right'><span class="icon-arrow-up"></span> 回頁首</a>
		<p class='center'>本網站由 Archer 建立於2014.8,版權所有.  Power By RoR 
			<span class="icon-html5"></span><span class="icon-css3"></span></p> 
	</div></div>
</footer>