<% content_for :breadcrumb do %>
	<li><%= link_to "留言板", dashboard_boards_path %></li>
	<li class="active">修改</li>
<% end %>

<div class="panel panel-primary">
	<div class="panel-heading">
    <h3 class="panel-title">修改留言</h3>
  </div>
  <div class="panel-body">
		<%= render 'form', board: @board  %>
  </div>
</div>
